In [15]:
import sqlite3
conn = sqlite3.connect('Chinook.db')
c = conn.cursor()

In [21]:
c.execute(f"select count(*) from Customer")
c.fetchall()
#3503

[(59,)]

In [13]:
import spacy

# Load the English language model
nlp = spacy.load("en_core_web_sm")

# Sample text
text = "total sales for the beatles?"

# Process the text with SpaCy
doc = nlp(text)

# Display the PoS tagged result
for token in doc:
    print(f"{token.text}: {token.pos_}")

total: ADJ
sales: NOUN
for: ADP
the: DET
beatles: NOUN
?: PUNCT

In [14]:
import pandas as pd
# Load the CSV file into a DataFrame
df = pd.read_csv('/Users/harshitkrishnakumar/Downloads/dev_20240627/dev_databases/codebase_community/database_description/posts.csv', index_col=0)
len(df)

21